.testimonials {
    padding: 20px;
    color: #fff;
    background-color: var(--dark-color);
}

.testimonials-blok__section {
    padding: 20px; /* Отступы внутри секции отзыва */
    background-color: #f9f9f9; /* Фоновый цвет секции отзыва */
    border-radius: 15px; /* Скругление углов */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #23201b;
    text-align: center; /* Центрирование текста */
    transition: transform 0.3s; /* Плавный эффект при наведении */
    cursor: grab;
}

.testimonial-image {
    width: 100px;
    height: 100px;
    margin: auto;
    object-fit: cover;
    border-radius: 50%;
}

.testimonials__title {
    font-size: 200%;
    font-family: "Playfair Display", serif;
    margin-bottom: 5px;
}

.testimonials__description {
    font-size: 90%;
    max-width: 300px;
    min-height: 100px;
    margin: auto;
    margin-bottom: 20px;
    font-style: italic;
}

.custom-dot {
    width: 15px; /* Ширина точки */
    height: 15px; /* Высота точки */
    border-radius: 50%; /* Закругление */
    background-color: #333; /* Цвет точки */
    margin: 0 5px; /* Отступы между точками */
    opacity: 0.5; /* Прозрачность */
    cursor: pointer; /* Указатель при наведении */
}

.custom-dot.slick-active {
    background-color: #ff6600; /* Цвет активной точки */
    opacity: 1; /* Полная непрозрачность для активной точки */
}